<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Impromptu</title>
</head>
<script type="text/javascript" language="JavaScript">
    function check() {
      var ext = document.f.pic.value;
      ext = ext.substring(ext.length-3,ext.length);
      ext = ext.toLowerCase();
      if(ext != 'mid') {
        alert('You selected a .'+ext+
              ' file; please select a .mid file instead!');
        return false; }
      else
        return true; }
</script>
<body>
<div class="header-bar">
    <div class="spacer"></div>
    <div class="header" id="rcorners">
        <h1>impromptu</h1>
    </div>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="pdf ten columns">
            <embed src={{ filename }}  width="800px" height = "800px" align="center"></embed>
        </div>
        <div class="two columns buttons">
            <div class="title-box">
                <form name="form-name" value="title" action="/" method="POST">
                    <div class="row">
                        <div class="eleven columns">
                            <input class="u-full-width" type="text" placeholder="Title" name="titleInput">
                        </div>
                        <div class="one column">
                            <input class="button-small" type="submit" value="&#10132;">
                        </div>
                    </div>
                </form>
                <br>
                <form action="/" method="POST" name="form-name" value="composer">
                    <div class="row">
                        <div class="eleven columns">
                            <input class="u-full-width" type="text" placeholder="Contributors" name="contributorsInput">
                        </div>
                        <div class="one column">
                            <input class="button-small" type="submit" value="&#10132;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="button-box">
                <button id="upload">Upload a MIDI File &#9834;</button>
                <div class="modal" id="uploadModal">
                    <div class="modal-content">
                        <span class="close">x</span>
                        <form action="/" method="POST" name="upload">
                        <div style="height:0px;overflow:hidden">
                            <input type="file" id="fileInput" name="fileInput" accept=".mid,.midi"/>
                        </div>
                            <input type="file" name="fileInput" value="Upload Midi" accept=".mid,.midi"/>
                            <br/>
                            <input type="submit" value="CONVERT">
                        </form>
                    </div>
                </div>
            </div>
            <script>
               function chooseFile() {
                  document.getElementById("fileInput").click();
               }
            </script>

        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
