<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/js/recorder.js"></script>
	<script src="/static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Impromptu</title>
</head>
<script type="text/javascript" language="JavaScript">
    function check() {
      var ext = document.f.pic.value;
      ext = ext.substring(ext.length-3,ext.length);
      ext = ext.toLowerCase();
      if(ext != 'mid') {
        alert('You selected a .'+ext+
              ' file; please select a .mid file instead!');
        return false; }
      else
        return true; }
</script>
<body>
<div class="header-bar">
    <div class="spacer"></div>
    <div class="header" id="rcorners">
        <h1>impromptu</h1>
    </div>
    <br>
</div>
<br>
<div class="left-panel">
         <div class="row">
                <a id="saveJSON" class="button" href="static/uploads/currentTune.json" download>Save JSON</a>
        </div>


        <div class="row">
            <button id="load">LOAD JSON</button>
                <div class="modal" id="jsonModal">
                    <div class="modal-content">
                        <span class="close" id="closeJSON">x</span>
                        <form action="/" method="POST" name="load" id="load" enctype=multipart/form-data>
                            <input type="file" name="jsonInput" value="Load JSON" accept=".json"/>
                            <br/>
                            <input type="submit" value="LOAD">
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>
<div class="container">
    <div class="row">
        <div class="pdf ten columns">
            <iframe src={{ filename }}  width="800px" height = "800px" align="center"></iframe>
        </div>
        <div class="two columns buttons">
            <div class="title-box">
                <form name="form-name" value="title" action="/" method="POST">
                    <div class="row">
                        <div class="eleven columns">
                            <input class="u-full-width" type="text" placeholder="Title" name="titleInput">
                        </div>
                        <div class="one column">
                            <input class="button-small" type="submit" value="&#10132;">
                        </div>
                    </div>
                </form>
                <form action="/" method="POST" name="form-name" value="composer">
                    <div class="row">
                        <div class="eleven columns">
                            <input class="u-full-width" type="text" placeholder="Contributors" name="contributorsInput">
                        </div>
                        <div class="one column">
                            <input class="button-small" type="submit" value="&#10132;">
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="title-box">
                <h5>Edit a Measure</h5>
                <select id="measure-select">
                    {% for m in range(measures|length) %}
                        <option value={{ m + 1 }}>{{ m + 1 }}</option>
                    {% endfor %}
                </select>
                <button id="edit">Edit</button>
                <div class="modal" id="editModal">
                    <div class="modal-content-edit">
                        <span class="close" id="close-x-n">x</span>
                        <h4 id="edit-title"></h4>
                        <div class="measureImg" id="measureImg">
                        </div>
                        {% for m in range(measures|length) %}
                            <div class="noteEditor" id={{ "ne-" + (m + 1)|string }} style="display: none">
                                <h5 style="display: inline">Choose a Note</h5>
                                &nbsp;
                                <select class="note-select" style="display: inline" id={{ "ns-" + (m + 1)|string }}>
                                {% for n in range(measures[m]|length) %}
                                    <option value={{ n + 1 }}>{{ n + 1 }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                        <button id="note-edit">Edit</button>
                        <button id="note-add">Add</button>
                        <button id="note-delete">Delete</button>
                        <br>
                        <br>
                        {% for m in range(measures|length) %}
                            <div id={{ "note-info-box-" + (m + 1)|string }}>
                                {% for n in range(measures[m]|length) %}
                                    <div class="note-info"  style="display: none" id={{ "m-" + (m + 1)|string + "ni-" + (n + 1)|string }}>
                                        <h5>Editing Note {{ (n + 1) }}</h5>

                                        {% for p in measures[m][n].getPitch() %}
                                            <!-- PITCH & ACCIDENTAL -->
                                            <div style="display: block"></div>
                                            <p style="display: inline">Pitch: </p>
                                             <select class="edit-select-pitch">
                                                {% for i in ["Rest","A","B","C","D","E","F","G"] %}
                                                    {% if i == p.letter|upper %}
                                                        <option value={{ i }} selected>{{ i }}</option>
                                                    {% else %}
                                                        <option value={{ i }}>{{ i }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select class="edit-select-acc" style="display: inline">
                                                {% if 1 == p.accidental %}
                                                    <option value="sharp" selected>&#9839;</option>
                                                {% else %}
                                                    <option value="sharp">&#9839;</option>
                                                {% endif %}
                                                {% if 2 == p.accidental %}
                                                    <option value="flat" selected>&#9837;</option>
                                                {% else %}
                                                    <option value="flat">&#9837;</option>
                                                {% endif %}
                                                {% if 0 == p.accidental %}
                                                    <option value="natural" selected>&#9838;</option>
                                                {% else %}
                                                    <option value="natural">&#9838;</option>
                                                {% endif %}
                                            </select>
                                            &nbsp;
                                            <!-- OCTAVE -->
                                            <p style="display: inline">Octave: </p>
                                            <select class="edit-select-octave">
                                                {% for i in range(11) %}
                                                    {% if i == p.octave %}
                                                        <option value={{ i }} selected>{{ i }}</option>
                                                    {% else %}
                                                        <option value={{ i }}>{{ i }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% endfor %}
                                        &nbsp;
                                        <!-- DURATION -->
                                        <p style="display: inline">Duration: </p>
                                        <select class="edit-select-duration">
                                            {% for i in [1,2,4,8,16] %}
                                                {% if i == measures[m][n].duration[1] %}
                                                    <option value={{ i }} selected>{{ i }}</option>
                                                {% else %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <br />
                                    </div>
                                {% endfor %}
                            </div>
                            <div id={{ "note-add-box-" + (m + 1)|string }}>
                                {% for n in range(measures[m]|length) %}
                                    <div class="note-add" id={{ "m-" + (m + 1)|string + "na-" + (n + 1)|string }} style="display: none">
                                        <h5>Inserting before Note {{ (n + 1) }}</h5>

                                         <!-- PITCH & ACCIDENTAL -->
                                        <p style="display: inline-block">Pitch: </p>
                                         <select class="add-select-pitch">
                                            {% for i in ["Rest","A","B","C","D","E","F","G"] %}
                                                {% if i == measures[m][n].getPitch()[0].letter|upper %}
                                                    <option value={{ i }} selected>{{ i }}</option>
                                                {% else %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <select class="add-select-acc" style="display: inline-block">
                                            {% if 1 == measures[m][n].getPitch()[0].accidental %}
                                                <option value="sharp" selected>&#9839;</option>
                                            {% else %}
                                                <option value="sharp">&#9839;</option>
                                            {% endif %}
                                            {% if 2 == measures[m][n].getPitch()[0].accidental %}
                                                <option value="flat" selected>&#9837;</option>
                                            {% else %}
                                                <option value="flat">&#9837;</option>
                                            {% endif %}
                                            {% if 0 == measures[m][n].getPitch()[0].accidental %}
                                                <option value="natural" selected>&#9838;</option>
                                            {% else %}
                                                <option value="natural">&#9838;</option>
                                            {% endif %}
                                        </select>
                                        &nbsp;
                                        <!-- OCTAVE -->
                                        <p style="display: inline-block">Octave: </p>
                                        <select class="add-select-octave">
                                            {% for i in range(11) %}
                                                {% if i == measures[m][n].getPitch()[0].octave %}
                                                    <option value={{ i }} selected>{{ i }}</option>
                                                {% else %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        &nbsp;
                                        <!-- DURATION -->
                                        <p style="display: inline-block">Duration: </p>
                                        <select class="add-select-duration">
                                            {% for i in [1,2,4,8,16] %}
                                                {% if i == measures[m][n].duration[1] %}
                                                    <option value={{ i }} selected>{{ i }}</option>
                                                {% else %}
                                                    <option value={{ i }}>{{ i }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id={{ "note-delete-box-" + (m + 1)|string }}>
                                {% for n in range(measures[m]|length) %}
                                    <div class="note-delete" id={{ "m-" + (m + 1)|string + "nd-" + (n + 1)|string }} style="display: none">
                                        <h5>Deleting Note {{ (n + 1) }}</h5>

                                         <!-- PITCH & ACCIDENTAL -->
                                        <p style="display: inline">Pitch: {{ measures[m][n].getPitch()[0].letter|upper }}</p>
                                        {% if 1 == measures[m][n].getPitch()[0].accidental %}
                                            <p style="display: inline">&#9839;</p>
                                        {% elif 2 == measures[m][n].getPitch()[0].accidental %}
                                            <p style="display: inline">&#9837;</p>
                                        {% else %}
                                            <p style="display: inline">&#9838;</p>
                                        {% endif %}
                                        &nbsp;
                                        <!-- OCTAVE -->
                                        <p style="display: inline-block">Octave: {{ measures[m][n].getPitch()[0].octave }}</p>
                                        &nbsp;
                                        <!-- DURATION -->
                                        <p style="display: inline-block">Duration: {{ measures[m][n].duration[1] }}</p>

                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="modal-button-box">
                            <form action="/" method="POST">
                                <input name="measure_number" hidden />
                                <input name="note_number" hidden />
                                <input name="duration0" hidden />
                                <input name="duration1" hidden />
                                <input name="pitch" hidden />
                                <input name="acc" hidden />
                                <input name="octave" hidden />
                                <input name="submit-type" hidden />
                                <input class="modal-button" id="note-apply" name="note-apply" type="button" value="Apply" />
                                <input class="modal-button" id="note-submit" name="note-submit" type="submit" value="Submit" />
                                <input class="modal-button" id="note-cancel" value="Cancel" type="button" />
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

             <div class="button-box">
                <button id="upload">Upload a File &#9834;</button>
                <div class="modal" id="uploadModal">
                    <div class="modal-content">
                        <span class="close" id="close-x-u">x</span>
                        <form action="/" method="POST" name="upload" id="uploadForm" enctype=multipart/form-data>
                            <input type="file" name="fileInput" value="Upload File" id="chooseFile" accept=".mid,.midi,.mp3,.wav"/>
                            <br/>
                            <input type="submit" value="CONVERT">
                        </form>
                    </div>
                </div>

                <button id="record" onclick="toggleRecording(this);">Record Audio &#9834;</button>
                <div class="modal" id="recordModal">
                    <div class="modal-content">
                        <span id="close-x-u">x</span>
                    </div>
                </div>

                <a id="save" href="#" class="button">Save Recording &#9834;</a>

            </div>
            <script>
               function chooseFile() {
                  document.getElementById("fileInput").click();
               }
            </script>

        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
