/*
* Imprompty First Iteration
*/

.header-bar{
    background-color: #F8F8F8;
    top: 0px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #D1D1D1;
    height: auto;
    width: auto;
}
.header {
    margin-left: 16%;
}
.spacer {
    height: 60px;
}
#rcorners {
    border-radius: 20px;
    border: 2px solid #222222;
    padding: 20px;
    width: 750px;
    height: 30px;
}

.buttons {
    padding: 50px;
}

.title-box {
    width: 300px;
    margin-left: -50px;
}

.left-panel {
    position: absolute;
    padding: 10px;
}

.button-box {
    position: fixed;
    background-color: black;
    padding: 10px;
    bottom: 0;
}

button {
    background-color: white;
}

button:hover {
    /*background-color: #555;
    border-color: black;
    color: #F1F1F1;*/
    background-color: #E1E1E1;
}

.button-small {
    width: 40px;
    padding: 5px;
}

a.button {
    background-color: white;
}

a.button:hover {
    /*background-color: #555;
    border-color: black;
    color: #F1F1F1;*/
    background-color: #E1E1E1;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #E1E1E1;
}

/* The Modal (background) Credit: W3 Schools */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}


#record { height: 6vh; width: 250px}
	#record.recording {
		background: red;
		background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
		background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
		background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
	}

#save { height: 6vh; width: 250px}
	#save.button { opacity: 0.25;}
	#save[download] { opacity: 1;  }

